
<style>
.Custom-sec {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    border-radius: 6px;
    margin-top: -20px;
}

 .sub-custom {
    display: flex;
    width: 100%;
}
 .last-sec {
    width: 33.33%;
    text-align: center;
}

 .cus-text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #000;
    line-height: 1.35;
    letter-spacing: .0000001px;
    margin-left: 20px;
    margin-right: 20px;
}

  
</style>
<div class="Custom-sec">
    <div class="sub-custom" style="margin-top:10px;">
      <div class="last-sec">
        <img src="//trendpunt.nl/cdn/shop/files/nl.png?v=1697109590" class="cus-img" style="width: 25px;">
        <div class="cus-text">Onze verzending is <strong>altijd gratis</strong></div>
      </div>
      <div class="last-sec">
        <img src="//trendpunt.nl/cdn/shop/files/HALLO.webp?v=1697109085" class="cus-img" style="width: 25px;">
        <div class="cus-text">30 dagen geld <strong>terug</strong> <strong>garantie</strong></div>
      </div>
      <div class="last-sec">
        <img src="//trendpunt.nl/cdn/shop/files/ideal-logo.gif?v=1697109453" class="cus-img" style="width:25px; margin-top: 2px;">
        <div class="cus-text"><strong>Betaal veilig </strong>met je eigen bank</div>
      </div>
    </div>
</div>